.favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
  }
  
  .close-modal {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-modal:hover {
    background-color: #e0e0e0;
  }

  .title {
    border-bottom: 2px solid #F291A3D6;
    font-size: 50px;
    font-weight: 400;
    font-family: DM Sans;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;

  }