.forgot-page {
    background-image: url(../backgrounds/login-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

