.profile-page {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    width: 154px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .delete-account-btn {
    display: block;
    padding: 10px;
    background-color: white;
    border: 2px solid #F288A4;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    color: #F288A4
  }

  .delete-account-btn:hover {
    background-color: #985265;
  }

